In [3]:
%matplotlib inline

In [19]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import keras
import numpy as np
from six.moves import urllib
import zipfile
import datetime
import sys
import requests
from io import StringIO, BytesIO

In [31]:
# sys.path.append('utils/')

In [4]:
#### uncomment to fetch .mat data files ###
### fetch_battery_data() ###

In [20]:
def download_data():
    if not os.path.isdir('data'):
        os.makedirs('data')
    if 'train_FD004.txt' not in os.listdir('data'):
        print('Downloading Data...')
        # Download the data
        r = requests.get("https://ti.arc.nasa.gov/c/6/", stream=True)
        z = zipfile.ZipFile(BytesIO(r.content))
        z.extractall('data')
    else:
        print('Using previously downloaded data')

In [21]:
download_data()

Downloading Data...

In [22]:
def load_data(data_path):   
    operational_settings = ['operational_setting_{}'.format(i + 1) for i in range (3)]
    sensor_columns = ['sensor_measurement_{}'.format(i + 1) for i in range(26)]
    cols = ['engine_no', 'time_in_cycles'] + operational_settings + sensor_columns
    data = pd.read_csv(data_path, sep=' ', header=-1, names=cols)
    data = data.drop(cols[-5:], axis=1)
    data['index'] = data.index
    data.index = data['index']
    data['time'] = pd.date_range('1/1/2000', periods=data.shape[0], freq='600s')
    print('Loaded data with:\n{} Recordings\n{} Engines'.format(
        data.shape[0], len(data['engine_no'].unique())))
    print('21 Sensor Measurements\n3 Operational Settings')
    return data

In [23]:
data = load_data('./data/train_FD004.txt')

Loaded data with:
61249 Recordings
249 Engines
21 Sensor Measurements
3 Operational Settings

In [24]:
data.head()

,engine_no,time_in_cycles,operational_setting_1,operational_setting_2,operational_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21,index,time
index,,,,,,,,,,,,,,,,,,,,,
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670,0,2000-01-01 00:00:00
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552,1,2000-01-01 00:10:00
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213,2,2000-01-01 00:20:00
3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,1118.03,3.91,...,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176,3,2000-01-01 00:30:00
4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,1033.59,7.05,...,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754,4,2000-01-01 00:40:00

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61249 entries, 0 to 61248
Data columns (total 28 columns):
engine_no                61249 non-null int64
time_in_cycles           61249 non-null int64
operational_setting_1    61249 non-null float64
operational_setting_2    61249 non-null float64
operational_setting_3    61249 non-null float64
sensor_measurement_1     61249 non-null float64
sensor_measurement_2     61249 non-null float64
sensor_measurement_3     61249 non-null float64
sensor_measurement_4     61249 non-null float64
sensor_measurement_5     61249 non-null float64
sensor_measurement_6     61249 non-null float64
sensor_measurement_7     61249 non-null float64
sensor_measurement_8     61249 non-null float64
sensor_measurement_9     61249 non-null float64
sensor_measurement_10    61249 non-null float64
sensor_measurement_11    61249 non-null float64
sensor_measurement_12    61249 non-null float64
sensor_measurement_13    61249 non-null float64
sensor_measurement_14    61249 non-null float64
sensor_measurement_15    61249 non-null float64
sensor_measurement_16    61249 non-null float64
sensor_measurement_17    61249 non-null int64
sensor_measurement_18    61249 non-null int64
sensor_measurement_19    61249 non-null float64
sensor_measurement_20    61249 non-null float64
sensor_measurement_21    61249 non-null float64
index                    61249 non-null int64
time                     61249 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(22), int64(5)
memory usage: 13.6 MB